<!DOCTYPE html>
<html>
  <head>
    <title>Epitaph-Ruby</title>
    <link href="<%= url('/stylesheets/main.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Epitaph</h1>
    <div id="root"></div>
    <script src="main.js"></script>
  </body>
</html>