body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(47, 58, 79);
  padding: 5px;
  color: lightslategray
}

.tech-link{
  color: yellowgreen;
  cursor: pointer;
}

.highlight{
  color: yellowgreen;
}

.extinct-civ-name{
  text-decoration: line-through;
  text-decoration-color: darkred;
  margin-bottom: 0;
}

.civ-name{
  margin-bottom: 0;
}

.civ-name-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.extinct{
  /* opacity: 30%; */
}

.planet{
  border-radius: 50%;
  display: inline-block;
  -moz-box-shadow:    inset 0 0 10px #0000006c;
  -webkit-box-shadow: inset 0 0 10px #0000006c;
  box-shadow:         inset 0 0 10px #0000006c;
}

.under-name-line{
  border: none;
  height: 3px;
  color: rgb(47, 58, 79);
  background-color: rgb(47, 58, 79);
  margin-top: -0.15rem;
  margin-bottom: 0.5rem;
}

.all-civs-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.civ-container{
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(59, 72, 95);
  /* border: 3px solid rgb(40, 49, 66); */
  border-radius: 10px;
  width: 300px;

  color: lightslategray;
}

.tech-container-hidden{
  display: none;
}
